.metadata
note_tracker/note_tracker
note_tracker/*.o
note_tracker/a.out
note_tracker/.vscode
*/Debug/*
*/Release/*
*/*.xml
*/.settings
auto_turn/.project
auto_turn/.cproject
*/__pycache__/*
*/*/.vs/*
*/*/*/bin/*
*/*/*/obj/*
.vscode